/* TODO: Move this to a seperat folder for styles and static content */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-group {
  margin-bottom: 30px;
}

.form-control {
  width: unset !important;
  display: unset !important;
}

.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-intro {
    font-size: large;
    margin-top: 20px;
  }

  
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  